#main {

  .arrival-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 0 0 1100px;
    max-width: 1440px;
    margin: 0 auto;

    h2 {
      margin: 121px 0 0 108px;

      span {
        margin: 0 0 0 10px;
      }
    }

    ul {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 0 346px;
      max-width: 346px;
      justify-content: space-between;
      margin: 19px 0 0 471px;
      font: 600 18px Cormorant;
      line-height: 18px;

      li:nth-child(2) {
        margin: 0 0 0 15px;
      }

      .active {
        border-bottom: 1px solid #736d6d;
      }
    }

    .items {
      display: flex;
      flex-flow: row wrap;
      flex: 0 0 1108px;
      max-width: 1108px;
      justify-content: space-between;
      margin: 63px 0 0 49px;

      .desc {
        display: block;
        margin: 14px 0 0 0;

        .title {
          font: 500 30px Cormorant;
          color: #342b2b;
          text-align: center;
        }

        .price {
          font: 500 20px Cormorant;
          color: #342b2b;
          float: right;
          margin: 2px 18px 0 0;

          .line {
            display: inline-block;
            height: 0px;
            width: 70px;
            border: 1px solid #787272;
            vertical-align: middle;
            margin: 0 18px 0 0;
          }
        }
      }

      .heart {
        display: block;
        position: absolute;
        width: 26px;
        height: 23px;
        margin: 20px 0 0 304px;
        background-image: url(../images/ico_new-arriv_heart_d.png);
        z-index: 1;
      }

      .arrows {
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        justify-content: space-between;
        width: 37px;
        height: 18px;
        margin: 476px 0 0 20px;
        z-index: 1;
        opacity: 0.5;

        .left {

          &:before{
            content: "";
            display: block;
            position: relative;
            width: 6px;
            height: 0px;
            margin: 1px 0 0 0;
            border: 1px solid #413a3a;
            transform: rotate(135deg);
          }

          &::after {
            content: "";
            display: block;
            position: relative;
            width: 6px;
            height: 0px;
            margin: 3px 0 0 0;
            border: 1px solid #413a3a;
            transform: rotate(45deg);
          }
        }

        .right {
          margin: 1px 0 0 0;

          &:before{
            content: "";
            display: block;
            position: relative;
            width: 6px;
            height: 0px;
            margin: 0 0 0 0;
            border: 1px solid #413a3a;
            transform: rotate(45deg);
          }

          &::after {
            content: "";
            display: block;
            position: relative;
            width: 6px;
            height: 0px;
            margin: 3px 0 0 0;
            border: 1px solid #413a3a;
            transform: rotate(135deg);
          }
        }

        .separator {
          align-self: flex-start;
          height: 17px;
          width: 0px;
          border-left: 1px solid #413a3a;
          margin: -4px 0 0 0;
        }
      }

      .item1 {
        margin: 0 0 0 24px;
      }

      .item2 {

        .price {
          margin: 2px 78px 0 0;
        }
      }

      .item3 {
        margin: 0 -24px 0 0;

        .price {
          margin: 2px 65px 0 0;
        }
      }
    }

    .see-all {
      display: block;
      width: 108px;
      border-bottom: 1px solid #736d6d;
      margin: 70px 0 0 574px;
      font: 300 18px Cormorant;
      color: #342b2b;
      letter-spacing: 0.9px;
      line-height: 17px;
    }

    .right-nav {
      margin: 378px 54px 0 0;
    }
  }

  .about-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex: 0 0 1100px;
    max-width: 1440px;
    margin: 0 auto;

    h2 {
      margin: 161px 0 0 74px;
    }

    .top {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 0 1032px;
      justify-content: space-between;
      margin: 105px 0 0 119px;

      .description {
        display: block;
        position: absolute;
        width: 613px;
        height: 243px;
        background: rgba(236, 229, 225, .8);
        margin: 69px 0 0 420px;

        p {
          font: 300 20px Cormorant;
          color: #342b2b;
          line-height: 23px;
          margin: 28px 10px 10px 41px;
        }
      }
    }

    .bottom {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 0 1032px;
      justify-content: flex-end;
      margin: -272px 28px 0 0;

      .description {
        display: block;
        position: absolute;
        width: 611px;
        height: 243px;
        background: rgba(236, 229, 225, .8);
        margin: 358px 0 0 -420px;
        -moz-margin-end: 420px;

        p {
          font: 300 20px Cormorant;
          color: #342b2b;
          line-height: 24px;
          margin: 64px 39px 0 43px;
        }
      }
    }

    .right-nav {
      margin: 650px 54px 0 0;
    }
  }

  .blog {

    h2 {
      margin: 164px 0 0 3px;
    }

    .nav {
      display: inline-block;
      float: right;
      margin: -46px 112px 0 0;
      font: 500 30px Cormorant;
      color: #342b2b;

      .counter {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 0 48px;
        max-width: 48px;
        margin: -12px 0 0 71px;

        .current {
          width: 25px;
          margin: 0 1px 0 0;
        }

        .total {
          font: 500 18px Cormorant;
          align-self: flex-end;
          margin: 0 0 -2px -1px;
        }
      }

      .line {
        display: block;
        width: 350px;
        height: 0px;
        border-bottom: 2px solid #787272;
        margin: 12px 0 0 0;
      }
    }

    .items {
      display: flex;
      overflow: hidden;
      flex-flow: row nowrap;
      flex: 1 0 1440px;
      max-width: 1440px;
      justify-content: space-between;
      margin: 115px auto 0 auto;

      .wrap {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 0 auto;
        width: auto;
        justify-content: flex-start;
        margin: 0 0 0 -167px;

        .item {
          display: block;
          width: 400px;
          margin: 0 30px 0 0;
          color: #342b2b;

          .tag {
            display: block;
            margin: 0 0 9px 0;
            font: 600 16px Cormorant;
            letter-spacing: 0.6px;
          }
// -------del-start-----------------------------
          img {
            width: 400px;
            height: 616px;
            object-fit: none;
            object-position: 100% 50%;
          }
// -------del-end-------------------------------
          .headline {
            font: 500 30px Cormorant;
            margin: 8px 0 11px -2px;
          }

          .description {
            font: 600 16px Cormorant;
            line-height: 19px;
            letter-spacing: 0.6px;
          }
        }

        .item3 {

          .description {
            width: 407px;
          }
        }

        .item4 {

// -------del-start-----------------------------
        img {
            object-position: 0% 50%;
          }
// -------del-end-------------------------------

          .description {
            line-height: 21px;
          }
        }
      }
    }

    .goto-blog {
      display: block;
      width: 114px;
      margin: 96px 0 0 757px;
      font: 600 18px Cormorant;
      color: #79100b;
      line-height: 27px;
      border-bottom: 1px solid #79100b;
    }
  }

  .subscribe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 499px;
    background-image: url(../images/bg_subscr_d.jpg);
    margin: 111px 0 160px 0;

    &::before {
        content: "";
        position: absolute;
        left: 13.7%;
        top: 8.5%;
        height: 79%;
        width: 74.3%;
        background: #ece5e1;
        opacity: 0.8;
        z-index: 0;
    }

    h3 {
      max-width: 670px;
      margin: 111px 0 0 20px;
      text-align: center;
      z-index: 1;
    }

    .discount {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      max-width: 285px;
      z-index: 1;
      margin: 32px 0 0 33px;

      input {
        display: block;
        width: 271px;
        height: 25px;
        border: none;
        border-bottom: 1px solid #716762;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 5px;
        font: 300 16px Cormorant;
        color: #342b2b;
        background-color: transparent;
        text-align: center;
      }

        ::-webkit-input-placeholder {
          text-align:center;
          font: 300 16px Cormorant;
          color: #342b2b;
          letter-spacing: 1px;
        }
        :-moz-placeholder { /* Firefox 18- */
           text-align:center;
           font: 300 16px Cormorant;
           color: #342b2b;
           letter-spacing: 1px;
        }
        ::-moz-placeholder {  /* Firefox 19+ */
           text-align:center;
           font: 300 16px Cormorant;
           color: #342b2b;
           letter-spacing: 1px;
        }
        :-ms-input-placeholder {
           text-align:center;
           font: 300 16px Cormorant;
           color: #342b2b;
           letter-spacing: 1px;
        }

      .send {
        display: block;
        width: 167px;
        height: 36px;
        margin: 24px 0 0 6px;
        font: 500 18px Cormorant;
        color: #fff;
        background-color: #91171d;
        border: none;
        border-radius: 3px;
        box-sizing: border-box;
        padding: 0 0 5px 0;
      }

      .consent {
        font: 300 12px sans-serif;
        color: #342b2b;
        letter-spacing: 0.65px;
        margin: 12px 0 0 -12px;
        text-align: center;
      }
    }
  }

}
